<html>
<head>
    <title>Table Render View</title>

    <link rel="stylesheet" href="../jspm_packages/npm/foundation-sites@6.1.2/dist/foundation.css">

</head>
<body>
<!-- #1. add the system.js library -->
<script src="../jspm_packages/system.js"></script>
<script src="dev.system.config.js"></script>
<script>

    // #3. Import the spec file explicitly
    System.import('app/tableApp.js');
</script>
<div ng-app="table">

    <div ng-controller="UserDataViewController as userDataCtl">

        {{userDataCtl.tableModel}}

        <div class="button" ng-click="userDataCtl.addData()">Mehr</div>
        <button class="button" ng-click="userDataCtl.removeData()">Weniger</button>


    <ts-table
            table-data="userDataCtl.data"
            table-config="userDataCtl.tableConfig"
            table-model="userDataCtl.tableModel"

    ></ts-table>
    </div>

</div>

</body>
</html>